{% extends "::base.html.twig" %}
{%block customcss%}
<link href="{{asset('assets/node_modules/datatables/media/css/dataTables.bootstrap4.css')}}" rel="stylesheet">
{%endblock%}
{%block customjs%}
<script src="{{asset('assets/js/document_removal.js')}}"></script>
<script src="{{asset('assets/node_modules/datatables/datatables.min.js')}}"></script>
<!-- start - This is for export functionality only -->
<script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
<script type="text/JavaScript">
$('#example23').DataTable({
    dom: 'Bfrtip',
    buttons: [
        'copy', 'csv', 'excel', 'pdf', 'print'
    ]
});
$('.buttons-copy, .buttons-csv, .buttons-print, .buttons-pdf, .buttons-excel').addClass('btn btn-primary mr-1');

$(document).ready(function(){
/********Necessary row to remove document***********/
removalObj= new RemoveRow();
var selector=".delete-row-btn";
var url_processor="{{path('remove_document')}}";
var tray="sent_documents";
removalObj.init(selector,url_processor,tray);
/************End document Removal*******************/

});

</script>
{%endblock%}

{%block body%}
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-12 align-self-center text-left">

        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive m-t-40">
                            <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Destinatarios</th>
                                        <th>Asunto</th>

                                        <th>Acci&oacute;n</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%for document in documents%}
                                    <tr id="row_{{document.id}}">
                                        <td>{{document.destinataries}}</td>
                                        <td><a href="{{path('show_saved_document',{'documentId':document.id,'trayId':2,'originalDoc':document.originaldoc})}}">{{document.subject}}</a></td>
                                        <td><button type="button" document_id="{{document.id}}" class="btn btn-sm btn-icon btn-danger btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Delete"><i class="ti-close" aria-hidden="true"></i></button></td>
                                    </tr>
                                    {%endfor%}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
{%endblock%}
